@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Style+Script&display=swap');

:root{
  --cursive: 'Style Script', cursive;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--cursive);
    font-size: 25px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.container{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid gray;
  height: 180px;
  width: 50vw;
  top: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  box-shadow: 3px 3px gray;
  position: relative;
}

.container input[type='text']{
  height: 40px;
  width: 40vw;
  border-radius: 5px;
  border: 1px solid gray;
}
.container input[type='text']:focus{
  outline: none;
}

.container input[type='text'].alert::placeholder{
  color: red;
}
.container input[type='text'].alert{
  border: 1px solid red;
} 

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}
.btn{
  margin-top: 10px;
  outline: none;
  height: 30px;
  width: 12vw;
  bottom: 30px;
  background: #5678cf;
  color: white;
  border: 0;
  border-radius: 5px;
}

.btn:active{
  box-shadow: 2px 2px 2px gray;
}

.btn:disabled{
  cursor: not-allowed;
  opacity: 0.6;
}

#next{
  right: 6vw;
}


.buffering-create, .buffering-join{
  margin-top: 15px;
  bottom: 30px;
  display: none;

}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #e4dede;
  width: 100vw;
  padding: .5rem;
}

footer a{
  color: black;
  text-decoration: none;
}

@media (max-width: 480px){
  .container{
    width: 80vw;
  }
  .container input[type='text']{
    width: 60vw;
  }
  .btn{
    width: 25vw;
  }
  .btn-container{
    flex-direction: column;
  }
}

@media (max-height: 360px){
  .container{
    top: 10vh;
  }
}
@media (max-height: 210px){
  footer{
    display: none;
  }
}
